<style>
    i.fa.fa-instagram {
    color: blue;
}
i.fa-linkedin-square {
    color: blue;
}
</style>
<footer class="text-center">
    
    <hr >
   <div class="m">
       <a href="https://instagram.com/am._.akash?igshid=ZDdkNTZiNTM="><i class="fa fa-instagram" style="font-size:48px"></i></a>&nbsp;&nbsp;
        <a href="https://www.linkedin.com/in/gaming-with-spirit-b72bb9262/"><i class="fa fa-linkedin-square" style="font-size:48px"></i></a>
    </div><br>
    <h6>© Cars Blogs By akash 2023</h6>   

</footer>

